<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chavesgu.scan">

    <!-- Permisos necesarios para la cámara y vibración -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

</manifest>
